<!--**********************************
          Footer start
***********************************-->

<div class="footer">
    <div class="copyright">
        <p>Designed <span class="heart"></span> <a href="#">with Focus</a> 2024</p>
    </div>
</div>

<!--**********************************
        Footer end
***********************************-->
