<!--**********************************
          Sidebar start
***********************************-->

<div class="deznav">
    <div class="deznav-scroll">
        <a class="add-project-sidebar btn btn-primary" href="javascript:void(0)" data-bs-toggle="modal"
            data-bs-target="#addProjectSidebar">+ New Project</a>
        <ul class="metismenu" id="menu">
            <li><a href="#">
                    <i class="flaticon-layout"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-monitor"></i>
                    <span class="nav-text">Apps</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-bar-chart-1"></i>
                    <span class="nav-text">Charts</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-web"></i>
                    <span class="nav-text">Bootstrap</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-plugin"></i>
                    <span class="nav-text">Plugins</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-admin"></i>
                    <span class="nav-text">Widget</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-contract"></i>
                    <span class="nav-text">Forms</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-table"></i>
                    <span class="nav-text">Table</span>
                </a>
            </li>
            <li><a href="#">
                    <i class="flaticon-newsletter"></i>
                    <span class="nav-text">Pages</span>
                </a>
            </li>
        </ul>
    </div>
</div>

<!--**********************************
        Sidebar end
***********************************-->